---
import Layout from '../layouts/Layout.astro';
---

<Layout>

	<section class="list-of-sheets">
		
		<article class="sheet">
			<h2>Name of cheat-sheets</h2>
			<p>Description of the cheat</p>
			<div class="preview">preview of the sheet on hover</div>
		</article>

	</section>

</Layout>
